html {
    overflow: hidden;
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #280137; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

.panel {
    padding: 10px;
}

h1 {
    font-size: 24px;
    color: #ffffff; /* White text color */
}

.filter-container {
    margin-bottom: 15px;
}

.filter-input {
    width: calc(100% - 120px);
    padding: 8px;
    border: 1px solid #444444; /* Dark border */
    border-radius: 4px;
    background-color: #333333; /* Dark input background */
    color: #e0e0e0; /* Light text color */
    display: inline-block;
}

#filter-type {
    padding: 8px;
    border: 1px solid #444444; /* Dark border */
    border-radius: 4px;
    background-color: #333333; /* Dark select background */
    color: #e0e0e0; /* Light text color */
    display: inline-block;
    margin-left: 10px;
}

button {
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #280137;;
    color: white;
    cursor: pointer;
    margin: 5px;
    font-size: 11px;
}

button:disabled {
    background-color: #333333;
    color: #666666;
    cursor: not-allowed;
}

.buttonGreen {
    background-color: #36eba9;
    color: #280137;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

.subTitle {
    font-size: 16px;
    color: #36eba9;
    font-weight: bold;
    margin-left: 10px;
}

#clearFilters, #clearRequests {
    font-weight: bold;
    color: white;
    background-color: #eb3678;
    border: none;
    font-weight: bold;
    font-size: 14px;
}

#clearRequests {
    float: right;
}

.divFilters {
    display: none;

}

.divFiltersIn {
    animation-duration: 0.5s;
    animation-name: slide-in;
    background-color: #1a0024;
    padding: 10px;

}

.divFiltersOut {
    animation-duration: 0.5s;
    animation-name: slide-out;
    background-color: #1a0024;
    padding: 10px;

}



@keyframes slide-in {
    from {
        translate: -150vw 0;
        scale: 100% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
        display: block;
    }
}

@keyframes slide-out {
    from {
        translate: 0 0;
        scale: 100% 1;
    }

    to {
        translate: -150vw 0;
        scale: 100% 1;
        display: none;
    }
}


.titleGreen {
    font-weight: bold;
    font-size: 24px;
    color: #280137;
    background-color: #36eba9;
    margin-left: 20px;
}
.green {
    color: #36eba9;
    font-weight: bold;
    font-size: 16px;
}

.request-list {
    list-style-type: none;
    padding: 0;
}

.request-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: fixed;
}

.request-table th, .request-table td {
    border: 1px solid #444444; /* Dark border */
    padding: 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.request-table th {
    background-color: #1a0024cc; /* Dark header background */
    color: #e0e0e0; /* Light text color */
    text-align: center;
}

.request-table th:nth-child(1), .request-table td:nth-child(1) {
    width: auto;
}

.request-table th:nth-child(2), .request-table td:nth-child(2),
.request-table th:nth-child(3), .request-table td:nth-child(3),
.request-table th:nth-child(4), .request-table td:nth-child(4) {
    width: 70px;
}

.request-item {
    background-color: #280137; /* Dark row background */
    border: 1px solid #444444; /* Dark border */
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.request-item:hover {
    background-color: #1a0024cc; /* Dark hover background */
}

.request-url {
    font-weight: bold;
    max-width: 200px; /* Adjust as needed */
}

.request-details {
    font-size: 14px;
    color: #e0e0e0; /* Light text color */
}

#controls {
    margin-bottom: 10px;
}

#results {
    border-top: 1px solid #444444; /* Dark border */
    padding-top: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(26, 0, 36, 0.9);
    color: white;
    display: none;
    z-index: 1000;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-top: 10px;

    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

#requestDetails {
    padding-bottom: 50px;
}
#requestDetails pre {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    white-space: pre-wrap;      /* Preserve whitespace, but allow wrapping */
  word-wrap: break-word;      /* For older browsers */
  overflow-wrap: break-word;  /* Standard property for newer browsers */

}

a.code:link {
    color: white;
}
a.code:visited {
    color: white;
}
a.code:hover {
    color: white;
}
a.code:active {
    color: white;
}

.overlay::-webkit-scrollbar {
    display: none;
  }

.close-overlay {
    background-color: #eb3678;
    color: white;
    border: none;
    /* padding: 10px; */
    cursor: pointer;
    float: left;
}

.page-url-item .page-url {
    text-align: center;
    font-weight: bold;
}

.favicon {
    width: 14px;
    height: 14px;
    vertical-align:middle;
    margin-right: 4px;
}